.main-page {
    font-family: Arial, sans-serif;
  }
  
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
  }
  
  .main-nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
  }
  
  .main-nav a {
    color: white;
    text-decoration: none;
  }
  
  .login-section button {
    background-color: #1E90FF;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
  }
  
  .login-section button:hover {
    background-color: #4169E1;
  }
  .without-underline {
    text-decoration: none;
    color: inherit;
  }


  .register-page {
    text-align: center;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  input {
    margin-bottom: 10px;
    padding: 8px;
    width: 200px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  